html {
  background-color: gray;
  width: 80%;
  margin-left: 10%;
}

body {
  background-color: darkgray;
  border-radius: 10px;
  padding: 10px;
}

#texting {
  float: right;
}

#page-header {
  text-align: center;
  border-bottom: 1px solid black;
}

#page-header h3 {
  font-style: italic;
}

#page-header h1 {
  text-decoration: underline;
}
